# fly.toml app configuration file generated for description-container-v1 on 2025-12-10T21:18:02+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'description-container-v1'
primary_region = 'fra'

[build]

[deploy]
  release_command = 'npx prisma migrate deploy'

[env]
  NODE_ENV = 'production'
  PORT = '3000'
  SCOPES = 'read_collection_listings,read_products,write_products'
  SHOPIFY_API_KEY = 'ca91204f3bbed9d75fb64d69bea21264'
  SHOPIFY_APP_URL = 'https://description-container-v1.fly.dev'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
